/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    width: 100vw;
}


.side-hero {
    background: url(images/space-bg.jpg);
    position: relative;
    flex-grow: 1;
    width: 50vw;
    min-width: 340px;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.side-hero img {
    width: 5rem;
    padding: 10px;
}


.side-hero #logo {
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    display: flex;
    padding: 0, 2vw;
    justify-content: center;
    align-items: center;
}

.side-hero p {
    position: absolute;
    bottom: 0px;
    color: rgba(255,255,255,0.45);
    right: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
}

.main-content p {
    font-size: 2em;
    max-width: 80%;
    padding-left: 40px;
}


.form-container {
    background-color: white;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

.inputs > div {
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;

    column-gap: 84px;
    row-gap: 18px;
    margin-bottom: 18px;
}

.form-container input {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    font-size: 1rem;
    margin-right: 32px;
  }

h1 {
    font-size: 3em;
}

.form-container h2 {
    padding-bottom: 20px;
    width: 100%;
}

.inputs label {
    display: block;
}

label {
    position: relative;
    font-size: 0.8em;
    letter-spacing: .1em;
    width: 15rem;
    margin-bottom: 1px;
}

p.login {
    font-size: 1em;
}

#create-account {
  margin-left: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
  background-color: orange;
  padding: 12px 48px;
  border-radius: 8px;
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}


@media only screen and (max-width: 600px)  {
    .container{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .side-hero{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .main-content{
        width: auto;
        height: auto;
    }
    .header{
        width: auto;
        margin-top: 30px;

    }
    h2 {
        padding: 20px 0;
        margin: 0;
    }
    .form-container {
        justify-content: center;

    }

    .form-container > div {
		min-width: 250px;
		width: 40%;
	}

	.form-container input {
		width: 100%;
	}
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

}